opencv_python>=3.4.1.15
Keras>=2.1.4
SoundFile>=0.10.2
six>=1.11.0
scipy>=1.0.1
tensorflow>=1.5.0
matplotlib>=1.5.1
numpy>=1.11.0
pomegranate>=0.10.0
resampy>=0.1.5
progressbar33>=2.4
PyYAML>=3.13
scikit_learn>=0.20.2
